.launch-details {
  display: flex;
  flex-direction: column;
  align-items: center;

  .description-style {
    width: 60%;
    text-align: justify;
    margin-left: 40px;
  }

  ul {
    list-style-type: none;
    width: 60%;
    li {
       border: 1px #ccc solid;
       padding: 10px;
       b {
         margin-right: 20px;
       }
     }
    .section {
      color: white;
      text-align: center;
      background: #2c578a;
      border: 1px #2c578a solid;
    }
  }

}